.personajes-titulo {
    font-size: 1.5rem; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    margin-bottom: 16px; /* Espaciado inferior */
    text-align: center; /* Centrar el texto */
  }