<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rick and Morty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Componente de filtros reutilizable -->
  <app-filter 
  [categories]="categories" 
  [selectedCategory]="selectedCategory" 
  [selectedDate]="selectedDate"
  [searchQuery]="searchQuery"
  (filterChange)="onFilterSelected($event)">
</app-filter>

 <!-- Lista de personajes usando componente reutilizable-->
 <ng-container *ngIf="selectedCategory === 'Personajes'">
  <div *ngFor="let character of characters" (click)="infoItem(character)">
    <app-info-card [item]="character" category="Personajes"></app-info-card>
  </div>
</ng-container>

  <!-- Lista de Episodios usando componente reutilizable-->
  <ng-container *ngIf="selectedCategory === 'Episodios'">
  <div *ngFor="let episode of episodes" (click)="infoItem(episode)">
    <app-info-card  [item]="episode" category="Episodios"></app-info-card>
  </div>
</ng-container>

  <!-- Lista de Locaciones usando componente reutilizable-->
  <ng-container *ngIf="selectedCategory === 'Locaciones'">
  <div *ngFor="let location of locations" (click)="infoItem(location)">
    <app-info-card  [item]="location" category="Locaciones"></app-info-card>
  </div>
</ng-container>

  <!-- Lista de Locaciones usando componente reutilizable-->
  <ion-infinite-scroll
    threshold="100px"
    [disabled]="!moreData"  
    (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
